body
{
    width: 80em;
    font-family: Arial, sans-serif;
    font-size: 11pt;
}
#title
{
    text-align: center;
}
.codeblock
{
    font-family: Courier New, monospace;
    white-space: pre;
    border: 1px solid black;
    background-color: #FFFFEB;
    font-size: 10pt;
}